.form-group-contoller {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.form-control-style {
  padding: 2px 15px 2px 15px;
  border: 1px solid #ab47bc;
  border-radius: 15px;
  background-color: #ab47bc;
}

.test{
  font-weight: 700 !important;

}

.sorting-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sorting-header
.sorting-button{
  margin-left: auto;
  margin-right: 20px;
}

.file-uploader {
  border-style: dashed;
  border-radius: 15%;
}
.file-uploader
label {
  padding: 15px 0px 15px 10px;
  padding-right: 90px;
}
