.container {
  display: flex;
  flex-direction: row;
}

.MuiDialog-container 
.MuiDialog-paperScrollPaper {
  border-radius: 25px;
}

.MuiTableContainer-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.group-table {
  margin: 15px;
}
.group-table tr th {
  text-align: center;
  justify-content: center;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px
}

.group-table thead {
  background-color: #ECEDF2;
}

.sorting-label {
  display: flex;
  width: 190px;
  text-align: center;
}
.draggable-indicator {
  margin-left: auto;
}