.container {
  display: flex;
  flex-direction: row;
}

.MuiDialog-container 
.MuiDialog-paperScrollPaper {
  border-radius: 25px;
}

.test {
  font-weight: 700 !important;
}

.file-uploader {
  border-style: dashed;
  border-radius: 15%;
}
.file-uploader label {
  padding: 15px 0px 15px 10px;
  padding-right: 90px;
}

.MuiTableContainer-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.group-table {
  margin: 15px;
}
.group-table tr th {
  text-align: center;
  justify-content: center;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px
}

.group-table thead {
  background-color: #ECEDF2;
}
